div.contenedor {
  display: block;
  text-align: center;
  align-content: center;
  align-items: center;
  background-color: antiquewhite;
  border: solid 1px black;
  border-radius: 30px;
  margin: 30px 50px 0;

  div.types {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-transform: uppercase;
    color: red;
    font-weight: bold;
    margin: 0 50px 0;
  }

  h1 {
    text-transform: uppercase;
    color: #015454;
  }

  p {
    font-size: 20px;
    span {
      font-weight: bold;
      color: #015454;
    }
  }
}
