* {
  width: 100%;

}

.margin-bottom {
  margin-bottom: 500px;
}

.contenedor-100 {
  border: 1px solid black;
  height: 500px;
  li {
    border: 1px solid red;
  }
}

.blue {
  color: blue;
}

.red {
  color: red;
}

.ocultar {
  display: none;
}
