<div *ngIf="pokemon.length > 0">
  <p *ngFor="let pokemon1 of pokemon">
    <span class="id">ID: {{pokemon1.id}}</span><br>
    <span class="nombre">{{pokemon1.nombre}}</span><br>
    <span>{{pokemon1.descripcion}}</span><br>
    <span><img src="{{pokemon1.imagen_url}}"></span><br>
    <button type="button" (click)="mostrarModal(pokemon1)">Ver información</button>
  </p>
</div>

<div *ngIf="pokemonsApi.length > 0">
  <p *ngFor="let pokemon1 of pokemonsApi">
    <span class="nombre">{{pokemon1.name}}</span><br>
    <button type="button" (click)="detallesPokemon(pokemon1.name)">Ver información</button>
  </p>
</div>

<app-modal *ngIf="toggleInfo"></app-modal>





