<form method="post" [formGroup]="formulario" (ngSubmit)="enviar()">
  <div>
    <label for="name-pokemon">Nombre: </label>
    <input formControlName="name"  id="name-pokemon" type="text" placeholder="Ingrese nombre pokemon" autocomplete="on" required><br><br>
  </div>
  <div>
    <label for="category">Categoría: </label>
    <select formControlName="category" id="category" >
      <option value="" selected>Seleciona una opción</option>
      <option value="Fire" selected>Fuego</option>
      <option value="Water">Agua</option>
      <option value="Ground">Tierra</option>
      <option value="Psychic">Psíquico</option>
      <option value="Ghost">Fantasma</option>
      <option value="Steel">Acero</option>
      <option value="Flying">Volador</option>
      <option value="Ice">Hielo</option>
      <option value="Grass">Planta</option>
      <option value="Bug">Bicho</option>
      <option value="Electric">Eléctrico</option>
      <option value="Normal">Normal</option>
      <option value="Rock">Roca</option>
      <option value="Fighting">Lucha</option>
      <option value="Fairy">Hada</option>
      <option value="Poison">Veneno</option>
      <option value="Dragon">Dragón</option>
      <option value="Dark">Siniestro</option>
    </select><br><br>
  </div>
  <div class="button-form">
    <button type="submit" [disabled]="formulario.invalid">Buscar</button>
  </div>
</form>

