form {
  width: auto;
  border-radius: 20px;
  font-size: 20px;
  background-color: #efe1cf;
  border: solid 2px black;
  padding: 50px;
  margin-top: 3em;
  margin-right: 1em;
  margin-left: 1em;


  .button-form {
    text-align: right;

    button {
      border-radius: 10px;
      color: white;
      background-color: rgba(21, 66, 66, 0.91);
      outline: none;
      cursor: pointer;
      border: gray solid 1px;
      width: 130px;
      padding: 13px;
      font-size: 17px;
      transition: .30s all;

      &:hover {
        color: rgba(21, 66, 66, 0.91);;
        background-color: rgba(255, 255, 255, 0.91);
      }

      &[disabled] {
        opacity: 0.4;
      }
    }
  }

  div {
    input, select{
      border: #646464 solid 1px;
      border-radius: 10px;
      font-size: 14px;
      text-align: center;
      padding: 5px;
      width: 200px;
      height: 3em;
      outline: none;
    }
  }
}




